In [1]:
from utils.data_preprocessing import *
from dlisio import dlis
import pandas as pd
import numpy as np
import glob
import os

In [2]:
file_names = []         # Store the name of the dlis files
dlis_raw_data = {}      # Store the result of the process of opening the dlis files
anp_names = []          # Store the names that are extracted from the dlis files

data_path = os.path.join('..', 'data', '*.dlis')

for file in glob.glob(data_path, recursive=True):
    try:
        file_names.append(file)

        # Unpacks the first logical file and stores the rest into tail
        first_logical_file, *tail = dlis.load(f'{file}')

        # Gets the name stored in the dlis file
        current_name = first_logical_file.origins[0].well_name
        anp_names.append(current_name)

        # Save the data in the dictionary 'dlis_raw_data'
        dlis_raw_data[current_name] = [first_logical_file] + tail
    except:
        print(current_name)

In [3]:
well_ndarray_dict = {}

for key, logical_files in dlis_raw_data.items():
    well_ndarray_dict[key] = logical_files_to_ndarray(logical_files)

In [5]:
well_df_dict = {}

for key, logical_files_dict in well_ndarray_dict.items():
    well_df_dict[key] = ndarray_to_dataframe(logical_files_dict)

In [15]:
well_df_dict['1MO  0001  SE'][7][0]

       FRAMENO  INDEX2750        NEUT          GR
0            1       12.8 -999.250000    2.146661
1            2       13.0 -999.250000    2.189393
2            3       13.2 -999.250000    2.201933
3            4       13.4 -999.250000    2.236007
4            5       13.6 -999.250000    2.247192
...        ...        ...         ...         ...
14032    14033     2819.2  214.721588 -999.250000
14033    14034     2819.4  214.982819 -999.250000
14034    14035     2819.6  215.593536 -999.250000
14035    14036     2819.8  215.737213 -999.250000
14036    14037     2820.0  216.297485 -999.250000

[14037 rows x 4 columns]